@model Person
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
<table>
    <tr>
        <td><b>Name:</b></td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td><b>Surname:</b></td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td><b>Age:</b></td>
        <td>@Model.Age</td>
    </tr>
</table>
    <div class="input-group">

        <span class="input-group-addon">Name</span>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name", @required = "required" })

    </div>
    <br />
    <div class="input-group">

        <span class="input-group-addon">Surname</span>
        @Html.TextAreaFor(x => x.Surname, new { @class = "form-control", placeholder = " surname", @required = "required" })

    </div>
    <br />
    <div class="input-group">

        <span class="input-group-addon">Age</span>
        @Html.TextBoxFor(x => x.Age, new { @class = "form-control", placeholder = "Age", @type = "number", min = 18 })

    </div>
    <br />
    <div class="input-group">

        @*<span class="input-group-addon">Delete</span>*@
        <input type="submit" value="Delete" class="btn btn-default" />

    </div>
}

<br />
@*<div class="input-group">
    @if (ViewBag.msg != null)
    {
        <div class="alert alert-@ViewBag.type" role="alert">
            @ViewBag.msg
        </div>
    }
</div>*@